<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form method="post" action="/updatePass" >
            <input type="text" name="cur_pass" placeholder="Current Password" />
            <input type="text" name="new_pass" placeholder="New Password" />
            <input type="text" name="conf_pass" placeholder="Confirm Password" />
            <button type="submit">Save</button>
        </form>    
</body>
</html>